* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	background-color:white;
	font-family: 'Montserrat', sans-serif;
	color:black;
}

.navbar {
}

.navbar-header button.navbar-toggle {
	clear:both;
	margin-top:-50px;
}

#nav-list li {
	background-color:white;
	border-bottom:1px solid #e7e7e7;
	padding:5px 0px;
}

.head-tit {
	font-size:175%;
	padding:20px;
	font-weight:bold;
}

.nav-tit {
	font-size:125%;
	margin:0;
}

.nav-tit a {
	color:#999;
}

.nav-tit a:hover {
	color:black;
}

.heading {
	font-size:175%;
	font-weight:bold;
}

h3 {
	width:150px;
	color:white!important;
	position:absolute;
	top:-20px;
	right:25px;
	text-align:center;
	border:1px solid #e7e7e7;
	padding:10px;
}

#tit1{
	background-color:#993300;
}
#tit2{
	background-color:#660000;
}
#tit3{
	background-color:#003300;
}

div.container {margin:10px;}

.column {
	position:relative;
	margin-top:20px;
}

p.content {
	background-color:#f8f8f8;
	border:1px solid #e7e7e7;
	height:170px;
	line-height:23px;
	overflow:hidden;
	padding:62px 20px 16px 20px;
	margin:10px;
}

@media (min-width:992px) {
	.column {float:left;}
.col-lg-4 {width:33.3%;}
h3 {top:-10px;}
}

@media (min-width:768px) and (max-width:991px) {
	.column {float:left;}
.col-md-6 {width:50%;margin-top:10px;}
.col-md-12 {width:100%;margin-top:0;}
h3 {top:-10px;}
}