* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	background-color:white;
	font-family: 'Montserrat', sans-serif;
	color:black;
}

h1 {
	font-size:175%;
	text-align:center;
	margin-top:40px;
}

h2 {
	width:150px;
	color:white;
	position:absolute;
	top:0px;
	right:10px;
	font-size:125%;
	text-align:center;
	border:1px solid black;
	padding:10px;
}

#tit1{
	background-color:#993300;
}
#tit2{
	background-color:#660000;
}
#tit3{
	background-color:#003300;
}

div.container {margin:10px;}

.column {
	position:relative;
	margin-top:20px;
}

p.content {
	background-color:#ccc;
	border:1px solid black;
	height:170px;
	line-height:23px;
	overflow:hidden;
	padding:52px 20px 16px 20px;
	margin:10px;
}

@media (min-width:992px) {
	.column {float:left;}
.col-lg-4 {width:33.3%;}
h2 {top:10px;}
}

@media (min-width:768px) and (max-width:991px) {
	.column {float:left;}
.col-md-6 {width:50%;margin-top:10px;}
.col-md-12 {width:100%;margin-top:0;}
h2 {top:10px;}
}